body
{
    font-family: Verdana;
    font-size: 8pt;
}
h1
{
    font-size: 20pt;
}
h2
{
    font-size: 12pt;
    background-color:navajowhite
}
h3
{
    font-size: 10pt;
    background-color: lemonchiffon;
}
h4 {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}
th
{
    font-family: Verdana;
    color: rgb(0,0,0);
    background-color: lightgray;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}
td
{
    font-family: Verdana;
    color: black;
}
td.RowHeader 
{
    width: 170px;
}
td.GrayBox
{
    font-family: Verdana;
    font-size: 8pt;
    color: #000000;
    background-color: #DEDEDC;
    text-align: left;
    vertical-align: top;
}
select
{
    font-family: Verdana;
    color: #003399;
    font-size: 8pt;
    font-weight: Bolder;
}
.box
{
    border-collapse: collapse;
    border: 1px solid #003366;
    background-color: #ffffff;
}
.InpName
{
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    color: #003399;
}
.MenuSection
{
    font-family: Verdana;
    font-size: 9pt;
    font-weight: Bold;
}
.InputVal
{
    border: 1px solid black;
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    color: black;
}
.button
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    background-color: #EEF3FB;
    color: #003366;
    border-collapse: collapse;
    border-left: solid 2px #FFFFFF;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #7694C8;
    border-bottom: solid 2px #7694C8;
    width: 85px;
    height: 20px;
    cursor: hand;
}
.longbutton
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    background-color: #EEF3FB;
    color: #003366;
    border-collapse: collapse;
    border-left: solid 2px #FFFFFF;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #7694C8;
    border-bottom: solid 2px #7694C8;
    width: 115px;
    height: 20px;
    cursor: hand;
}
.error
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: normal;
    color: #FF0000;
}
.Non_Active_Row
{
    font-family: Verdana;
    color: #000000;
    text-align: left;
    background-color: #DEDEDC;
}
.Active_Row
{
    font-family: Verdana;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
}
.MG_Even_Row
{
    font-family: Verdana;
    color: #000000;
    text-align: left;
    background-color: #f6f6f7;
    vertical-align: top;
}
.MG_Odd_Row
{
    font-family: Verdana;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    vertical-align: top;
}
.list
{
    font-family: Verdana;
    font-size: 8pt;
    color: #000000;
    text-align: left;
    border: 1px solid #ececec;
    border-collapse: collapse;
}
table
{
    table-layout: fixed;
    font-family: Verdana;
    font-size: 8pt;
    color: #000000;
    text-align: left;
    border-collapse: collapse;
    word-break: BREAK-ALL;
}
thead
{
    font-family: Verdana;
    font-size: 8pt;
    color: #000000;
    background-color: #DEDEDC;
    text-align: left;
    vertical-align: top;
}
.head1
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: Bold;
    color: #000000;
    background-color: #DEDEDC;
    text-align: left;
    vertical-align: top;
}
.FitToContent {
    width: 15%;
    word-break: break-word;
}
.ExtendToMax {
    
}
.defaultElement {
    background-color: gold
}